html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1440px;
  font-family: 'Roboto', sans-serif;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  margin-top: 50px;
  min-height: 65px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
}

.main-header__logo {
  margin-right: auto;
}

.main-header__nav {
  margin: auto;
}

.main-header__nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header__nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header__nav li {
  margin-right: 45px;
}

.main-header__basket {
  margin-left: auto;
}

.main-header__basket a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  min-height: 415px;
  background-color: #eeeeee;
  background-repeat: no-repeat;
}

.slider-1 {
  background-image: url("../img/slider-1.png");
  background-position: 430px 0;
}

.slider-2 {
  background-image: url("../img/slider-2.png");
  background-position: 496px 0;
}

.slider-3 {
  background-image: url("../img/slider-3.png");
  background-position: 400px 0;
}

.slider__promo {
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  margin-top: 70px;
  margin-bottom: 25px;
}

.slider__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color: #283136;
  margin-bottom: 45px;
}

.btn {
  box-sizing: border-box;
  height: 50px;
  padding: 17px 53px 15px;
  text-decoration: none;
  background-color: grey;
  align-self: flex-start;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500px;
}

.btn--red {
  background-color: #fb565a;
}

.btn--green {
  background-color: #00ca74;
}

.btn--yellow {
  background-color: #efc84a;
}

.main-index__offer {
  display: flex;
  margin-bottom: 80px;
}

.main-index__offer b {
  margin-top: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-index__offer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  margin-bottom: 35px;
}

.main-index__offer div {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 82px;
}

.grey-line {
  height: 2px;
  background-color: #eeeeee;
}

.main-index__info {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.main-index__aboutus {
  width: 660px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.main-index__aboutus--title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.main-index__aboutus--ultitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-index__project {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-index__map {
  position: relative;
}

.main-index__map img {
  margin-left: -140px;
}

.main-index__where {
  position: absolute;
  width: 320px;
  min-height: 310px;
  background-color: #ffffff;
  top: 54px;
  left: 0;
}

.main-footer {
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.main-footer__social ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  margin-right: 140px;
}

.main-footer__social a {
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50px;
  background-color: #e1e1e1;
}