html,
body {
  min-width: 1440px;
  margin: 0;
  padding: 0;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.main-header {
  margin-top: 50px;
  min-height: 65px;
  outline: 1px solid red;
  display: flex; 
  align-items: center;
  background-color: #eeeeee;
}

.main-header__logo {
  margin-right: auto;
  outline: 2px solid red;
}

.main-header__nav {
  margin: auto;
  outline: 2px solid red;
}

.main-header__nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header__nav a {
  text-decoration: none;
}

.main-header__nav li {
  margin-right: 45px;
}

.main-header__basket {
  margin-left: auto;
  outline: 2px solid red;
}

.main-index {
  outline: 2px solid red;
}

.slider {
  display: flex; 
  justify-content: space-between;
  background-color: #eeeeee;
}

.slider__right {
  margin-right: 30px;
}


.main-index__offer {
  display: flex;
}

.main-index__offer div {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 82px;
}

.main-index__info {
  display: flex;
  justify-content: space-between;
}

.main-index__aboutus {
  width: 660px;
}

.main-index__project {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-index__map {
  position: relative;
}

.main-index__map img{
  margin-left: -140px;
}

.main-index__where {
  position: absolute;
  width: 320px;
  min-height: 310px;
  background-color: #ffffff;
  top: 54px;
  left: 0;
}

.main-footer {
  display: flex;
  align-items: center;
  outline: 2px solid red;
}

.main-footer__social ul {
  
display: flex;
 padding: 0;
 margin: 0;
 list-style: none;
 font-size: 0;
 margin-right: 140px;
}

.main-footer__social a {
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50px;
  background-color: #e1e1e1;
}
