html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1440px;
  font-family: 'Roboto', sans-serif;
}

.center {
  width: 1160px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.grey-wrapper {
  background-color: #eeeeee;
}

.main-header {
  padding-top: 50px;
  min-height: 65px;
}

.main-header__logo {
  margin-right: auto;
}

.main-header__nav {
  margin: auto;
}

.main-header__nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header__nav a {
  text-decoration: none;
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
}

.main-header__nav li {
  margin-right: 45px;
}

.main-header__basket {
  margin-left: auto;
}

.main-header__basket a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.slider {
  min-height: 415px;
  background-repeat: no-repeat;
  display: none;
}

.slider__select {
  display: inline-block;
  vertical-align: baseline;
  margin-left: 294px;
}

.slide1,
.slide2,
.slide3 {
  display: none;
}

.slider__btn1,
.slider__btn2,
.slider__btn3 {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 17px;
}

.slider__btn1::before,
.slider__btn2::before,
.slider__btn3::before {
  content: "";
  position: absolute;
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  top: 5px;
  left: 5px;
  display: none;
}

.slide1:checked~.slider-1 {
  display: block;
}

.slide2:checked~.slider-2 {
  display: block;
}

.slide3:checked~.slider-3 {
  display: block;
}

.slide1:checked~.slider .slider__btn1::before {
  display: block;
}

.slide2:checked~.slider .slider__btn2::before {
  display: block;
}

.slide3:checked~.slider .slider__btn3::before {
  display: block;
}

.slider-1 {
  background-image: url("../img/slider-1.png");
  background-position: 430px 0;
}

.slider-2 {
  background-image: url("../img/slider-2.png");
  background-position: 496px 0;
}

.slider-3 {
  background-image: url("../img/slider-3.png");
  background-position: 400px 0;
}

.slider__promo {
  margin: 0;
  font-size: 55px;
  line-height: 55px;
  color: #000000;
  font-weight: 500;
  padding-top: 70px;
  margin-bottom: 25px;
}

.slider__text {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400px;
  color: #283136;
  margin-bottom: 35px;
}

.btn {
  display: inline-block;
  box-sizing: border-box;
  height: 50px;
  padding: 17px 53px 15px;
  text-decoration: none;
  background-color: grey;
  align-self: flex-start;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500px;
}

.btn--red {
  background-color: #fb565a;
}

.btn--green {
  background-color: #00ca74;
}

.btn--yellow {
  background-color: #efc84a;
}

.main-index__offer {
  display: flex;
  margin-bottom: 80px;
}

.main-index__offer b {
  margin-top: 28px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-index__offer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
  margin-bottom: 35px;
}

.main-index__offer div {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
  margin-top: 82px;
}

.grey-line {
  height: 2px;
  background-color: #eeeeee;
}

.main-index__info {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 76px;
}

.main-index__aboutus {
  width: 660px;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
}

.main-index__aboutus--title {
  margin-top: 35px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.main-index__aboutus--ultitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.main-index__aboutus ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-index__rate {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.main-index__rate>p {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.rate-percent {
  display: flex;
  flex-wrap: wrap;
}

.rate-percent div {
  width: 110px;
}

.rate-percent__title {
  margin: 0;
  margin-bottom: 14px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.rate-percent--sup {
  vertical-align: super;
  font-size: 28px;
}

.main-index__project {
  padding-top: 45px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-index__map {
  position: relative;
}

.main-index__map img {
  margin-left: -140px;
}

.main-index__map {
  margin-top: 78px;
}

.main-index__where {
  position: absolute;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 55px;
  background-color: #ffffff;
  top: 54px;
  left: 0;
}

.main-index__where p:nth-child(1) {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 27px;
}

.main-index__where p:nth-child(2) {
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 18px;
  color: #666666;
}

.main-index__where p:nth-child(3) {
  font-size: 16px;
  line-height: 18px;
  color: #666666;
  margin-bottom: 37px;
}

.main-index__where a {
  margin-bottom: 47px;
  padding-left: 45px;
  padding-right: 45px;
}

.main-footer {
  display: flex;
  align-items: center;
  min-height: 220px;
}

.main-footer__social ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  margin-right: 140px;
}

.main-footer__social a {
  position: relative;
  display: block;
  width: 78px;
  height: 78px;
  border-radius: 50px;
  background-color: #e1e1e1;
  margin-right: 14px;
}

.social--vk::after {
  position: absolute;
  content: "";
  width: 26px;
  height: 15px;
  top: 32px;
  left: 25px;
  background: url("../img/vk-icon.png") no-repeat;
}

.social--fb::after {
  position: absolute;
  content: "";
  width: 11px;
  height: 22px;
  top: 28px;
  left: 32px;
  background: url("../img/fb-icon.png") no-repeat;
}

.social--inst::after {
  position: absolute;
  content: "";
  width: 21px;
  height: 21px;
  top: 30px;
  left: 28px;
  background: url("../img/inst-icon.png") no-repeat;
}

.main-footer__discount {
  font-size: 16px;
  line-height: 22px;
  color: #444444;
}

.main-footer__promo {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
  margin: 0;
  padding: 0;
}